<form [formGroup]="updateFormGroup" class="register-form"  method="POST" action="#" role="form">
  <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-danger">
    {{ successMessage }}
</div>
    <div class = "title-register">
        <h1 class = "header-grey-big">Modifica detaliile</h1>
    </div>
  <div class="form-group row">
      <label class="col-sm-2" for="signupName">Nume</label>
      <div class = "col-sm-6">
        <input id="signupName" type="text" maxlength="50" class="form-control"
        formControlName="name" [(ngModel)]="updateUser.name">
      </div>
  </div>
  <div class="form-group row">
      <label class="col-sm-2" for="signupPhone">Telefon</label>
      <div class = "col-sm-6">
        <input id="signupPhone" type="tel" maxlength="13" class="form-control" formControlName="phone" [(ngModel)]="updateUser.phone">
      </div>
      <div class = "col-sm-4">
        <p class="text-danger" *ngIf="phone.errors?.required && phone.touched">Campul telefon este necesar</p>
        <p class="text-danger" *ngIf="phone.errors?.pattern && !phone.errors.required && phone.touched">Numarul de telefon nu are un format valid </p>
    </div>
  </div>
  <div class="form-group row">
        <label class="col-sm-2" for="signupCity">Oras</label>
        <div class = "col-sm-6">
            <select id="signupCity" class="custom-select" formControlName="city" [(ngModel)]="updateUser.city" (change)="onLocationChange($event.target.value)">
                <option [ngValue]="undefined" disabled  selected> Selectati un oras </option>
                <!-- <option *ngFor="let location of locations" [ngValue]="location.city" >{{location.city}}</option> -->
            </select>    
        </div>
        <div class = "col-sm-4">
                <p class="text-danger" *ngIf="city.errors?.required && city.touched">Campul oras este necesar</p>
        </div>  
    </div>
    <div class="form-group row">
            <label class="col-sm-2" for="practiceType">Tipul cabinetului</label>
            <div class = "col-sm-6">
                <select id="practiceType" class="custom-select" formControlName="practiceType" [(ngModel)]="updateUser.practiceType">
                    <option [ngValue]="undefined" disabled  selected> Tipul cabinetului</option>
                    <!-- <option *ngFor="let type of types" [ngValue]="type" >{{type}}</option> -->
                </select>    
            </div>
            <div class = "col-sm-4">
                    <p class="text-danger" *ngIf="city.errors?.required && city.touched">Campul oras este necesar</p>
            </div>  
    </div>

  <div class="form-group row ">
      <label class="col-sm-2" for="signupDescription">Descriere</label>
      <div class = "col-sm-6">
        <textarea id="signupDescription" maxlength="256" class="form-control"formControlName="description" [(ngModel)]="updateUser.description">
        </textarea>
      </div>
      
  </div>
<div class="form-group">
    <app-map [latitude]="latitude" [longitude]="longitude" (latLngChanged)="receiveLatLng($event)">

    </app-map>
</div>

  <div class="form-group">
      <button (click)="onUpdate()" id="signupSubmit" type="button" [disabled]="!updateFormGroup.valid" class="btn btn-turc btn-block">
            Modifica detaliile
      </button>
  </div>
  <hr>
</form>
