<div id="side-menu">
  <ul class="nav">
      <li class="side-nav-tooltip" (click)="toggleDoctorSelect()">
        <a class = "fa fa-user-md" ><small>Doctor</small></a>
        <img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUA
        AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
            9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />
      </li>
      <li class="side-nav-tooltip">
        <a href="" data-toggle="tab" class="fa fa-calendar" id="startCalendar"><small>Calendar</small></a>
      </li>
      <li class="side-nav-tooltip" id="side-customers" title="" data-toggle="tooltip" data-original-title="Customers">
        <a href="" data-toggle="tab" class="fa fa-cog" id="side-nav-customers"><small>Setari</small></a>
      </li>

      <li class="side-nav-tooltip" id="side-customers" title="" data-toggle="tooltip" data-original-title="Customers">
        <a href="" data-toggle="tab" class="fa fa-address-book" id="side-nav-customers"><small>Pacienti</small></a>
      </li>
  </ul>
</div>
<div id="doctor-select" *ngIf="showdoctorselect">

</div>