
body {
    width: 100%;
    height: 100%;
    background-size: 2000px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-style: normal;
    font-weight: 100;
 }
 a {
    text-decoration: none;
 }
 .btn-turc{
    background-color:#00cfca;
    color:white;
 }
 .turc-color, .turc-color:hover{
    color: #00cfca;
    text-decoration: none;
}
 .btn-turc:disabled{
    opacity: 0.6;
 }
 .my-navbar-brand{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
 }
.round-button{
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}
.round-corners-button{
    border-color: #F1F5F7;
    font-size: 12px !important;
    line-height: 32px !important;
    margin-top: 5px;
    padding: 1px 18px !important;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    height: 34px;
    border-radius: 3px !important;
    cursor: pointer;
    border: solid 1px #D7D7D7;
}
 .btn-light{
    padding: 1em 2rem;
    font-size: .875em;
    background: #f6f9f9;
    display: inline-block;
    font-weight: 500;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    border-radius: 50px;
 }
 .starter-template {
     padding: 3rem 1.5rem;
     text-align: center;
 }
 .pop-over{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 800px;
    padding: 1px;
    text-align: left;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;
 }
 .header-grey-big{
    font-weight: 100;
    color: #555;
    font-size: 3.25rem;
    line-height: 1.2;
    margin-top: 1em;
}
.header-grey-medium{
    color: #555;
    font-size: 1.70rem;
    line-height: 1.2;
    margin-top: 20px;
} 
.my-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
    padding:10px;
    height: auto;
    width: 480px;
    left: 30%;
    top: 30%;
    position: fixed;
}


@media only screen and (max-width: 600px) {
    .header-grey-big{
        font-size:34px;
    }
    .header-grey-medium{
        font-size:16px;
    }
}