<nav class="navbar navbar-expand-md navbar-light bg-light navbar-center fixed-top">
        <a class="turc-color" href="#"><i class="fa fa-fw fa-user-md"></i>Doctorul Meu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">

          </ul>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" id = "home-register" class = "round-button" [routerLink]="['/register']">Inregistrare</a>
            </li>
        </ul>
        </div>
      
</nav>
      
<div *ngIf="showSuccessMessage" class = "alert alert-success">
        {{successMessage}}
</div>
<form class="form-signin" method="POST" action="#" role="form">
    <div class = "title-login">
        <h1 class = "header-grey-medium">Autentificare</h1>
    </div>
  <div *ngIf="errorMessage!=null" class="alert alert-danger">
      {{ errorMessage }}
  </div>
  <div *ngIf="!mfaStep">
      <div class="form-group">
          <input id="signupEmail" required placeholder = "Email" type="email" maxlength="100" class="form-control" [(ngModel)]="email"
                 [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
          <input id="signupPassword" placeholder = "Parola" required type="password" maxlength="25" class="form-control"
                 length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group" style = " display: flex;align-items: center;justify-content: center;">
          <button (click)="onLogin()" id="signupSubmit" type="submit" class="btn btn-light">
              Autentificare
          </button>
      </div>

      <hr>
      <p>
        <a [routerLink]="['/forgotPassword']" class = "turc-color"><i class="fa fa-fw fa-lock"></i>Am uitat parola</a>
        <a [routerLink]="['/resendCode']" class = "turc-color"> <i class="fa fa-fw fa-key"></i> Retrimite codul de validare</a>
      </p>

  </div>
</form>

