#secure-logout {
    border: 1px solid #ddd;
    margin-right: 7px;
    color: #777!important;
    font-size: 17px;
    box-shadow: 4px 4px 15px 0 rgba(46,61,73,.15);
}
.round-button{
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}
.turc-color{
    color: #00cfca;
}
#secure-navbar{
    padding-left: 40px;
}