<nav id = "clinics-navbar" class="navbar navbar-expand-md navbar-light bg-light navbar-center fixed-top">
    <a class="navbar-brand turc-color" href="#"><i class="fa fa-fw fa-user-md"></i> Doctorul Meu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" id = "clinics-logout"  class = "round-button" [routerLink]="['/logout']">Delogare</a>
            </li>
        </ul>
    </div>
</nav>