
#navbarElements{
    margin: 0px 200px 0px 180px;
}
.navbar-right{
    position: absolute;
    right: 100px;
}
.home-nav{
    position: absolute!important;
    width: 100%;
    padding:10px;
    z-index: 100;
}
.home-nav-wrapper{
    width: 100%;
    // max-width: 800px;
    // min-width: 400px;
}
.home-nav-solid{
    position: fixed !important;
    background-color:#fff;
}
.home-nav-solid .nav-link{
    color: #777!important;
}
.home-nav-solid .login-button{
    background:  white;
    border: 1px solid transparent;
}
.home-nav-solid .login-button a{
    color: #777!important;
}
.nav-link{
    padding: 0 14px;
    font-size: 1rem;
    font-weight: 300;
    color: #fff!important;
}

.round-btn{
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 50px;
    cursor: pointer;
}
.round-btn a{
    font-size:10px!important;
    color: #fff!important;
    text-decoration: none;
}
.login-button {
    border: 1px solid;
    margin-right: 7px;
    color: #fff!important;
}
.register-button{
    background: #ff55a0;
    color: #fff!important;
}