<nav class="home-nav navbar navbar-expand-md">
  <div class = "home-nav-wrapper">
        <div class="collapse navbar-collapse" id="navbarElements">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Doctorul Meu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Avantaje</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item" class = "round-btn login-button">
              <a [routerLink]="['/login']">LOGARE</a>
            </li>
            <li class="nav-item" class = "round-btn register-button">
              <a [routerLink]="['/register']">INCEPE ACUM</a>
            </li>
        </ul>
        </div>
  </div>

</nav>